.header{
  background: #f85032; /* Old browsers */
  background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 38%, #f16f5c 38%, #f6290c 69%, #f02f17 88%, #e73827 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f85032 0%,#f16f5c 38%,#f16f5c 38%,#f6290c 69%,#f02f17 88%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f85032 0%,#f16f5c 38%,#f16f5c 38%,#f6290c 69%,#f02f17 88%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.header_text{
  color:white;
}
.all{
  margin:0px;
}

.nav_sidebar{
  float: left;
  width: 25%;
  color: white;
}
